*{margin: 0%;padding: 0%;box-sizing: border-box;}
body{
  background-color: cornflowerblue;
}
.mid{
  display: grid;
  place-items: center;
  height: 100vh;
}
footer{
  height: 15rem;
  background-color: white;
  width: 100%;
  display: grid;
  place-items: center;
}
.btn{
  height: 10rem;
  width: 10rem;
  border: 2px solid black;
  display: grid;
  place-items: center;
  font-size: 8rem;
  border-radius: 50%;
  position: relative;
  top: 0%;left: 0%;
  overflow: hidden;
}
.btn::after{
  content: '';
  position: absolute;
  top: 72%;left: -72%;
  height: 100%;
  width: 100%;
  background-color: cornflowerblue;
  transform: rotate(75deg);
  transition: all 200ms linear;
}
.btn:hover::after{
  top: -72%;left: 72%;
}
